inputs_def:
  - handle: targetURL
    description: Input
    json_schema:
      type: string
  - handle: saveTo
    description: Where to save your media.
    json_schema:
      anyOf:
        - type: string
          ui:widget: save
        - type: string
          ui:widget: dir
      ui:options:
        labels:
          - savePath
          - saveDir
outputs_def:
  - handle: savedPath
    description: Output
    json_schema:
      type: string
      ui:widget: file
ui:
  default_width: 450
executor:
  name: python
  options:
    spawn: false
    entry: __init__.py
title: MediaDownloader
icon: ":carbon:cloud-download:"
